<div
	class="modal fade"
	id="{% block id %}{% endblock id %}"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">{% block title %}{% endblock title %}</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form method="post" action="{% url 'subject_create' %}">
				{% csrf_token %}
				<div class="modal-body">{{ form.as_p }}</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal">
						İptal
					</button>
					<button type="submit" class="btn btn-success" name="subject_create">
						{% block submit %}{% endblock submit %}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
