{% extends "base.html" %} {% block content %}
<div class="d-flex align-items-center">
	<h1 class="mb-4">Ders Listesi</h1>
	<button
		class="btn btn-outline-success ms-auto"
		data-bs-toggle="modal"
		data-bs-target="#createModal">
		Ders Ekle
	</button>
</div>
<table class="table table-striped align-middle">
	<thead>
		<tr>
			<th scope="col">Ders</th>
			<th scope="col" class="text-center">Güncelle</th>
			<th scope="col" class="text-center">Sil</th>
		</tr>
	</thead>
	<tbody>
		{% for subject in subjects %}
		<tr>
			<td>{{ subject }}</td>
			<td class="text-center">
				<button
					data-bs-toggle="modal"
					data-bs-target="#updateModal"
					data-bs-subject="{{ subject }}"
					data-bs-action="{% url 'subject_update' subject.id %}"
					class="btn btn-outline-primary">
					<i class="fa-solid fa-pen-to-square fa-lg"></i>
				</button>
			</td>
			<td class="text-center">
				<button
					data-bs-toggle="modal"
					data-bs-target="#deleteModal"
					data-bs-action="{% url 'subject_delete' subject.id %}"
					class="btn btn-outline-danger">
					<i class="fa-solid fa-trash fa-lg"></i>
				</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% include "subject_create.html" %} {% include "subject_update.html" %} {% include "subject_delete.html" %}{% endblock content %}
